@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: hsl(114.81 100% 84.12%);
    --color-primary-content: hsl(0 0% 17.65%);
    --color-secondary: hsl(187.41 100% 84.12%);
    --color-secondary-content: hsl(0 0% 17.65%);
    --color-accent: hsl(64.44 100% 84.12%);
    --color-accent-content: hsl(0 0% 17.65%);
    --color-neutral: hsl(0 0% 17.65%);
    --color-base-100: hsl(235 0% 100%);
    --color-base-200: hsl(235 0% 96.15%);
    --color-base-300: hsl(235 0% 63.08%);
    --color-base-content: hsl(0 0% 17.65%);
    --color-info: hsl(187.41 100% 84.12%);
    --color-success: hsl(114.81 100% 84.12%);
    --color-warning: hsl(64.44 100% 84.12%);
    --color-error: hsl(347.53 100% 60.42%);
    --rounded-box: 0.5rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 0.5rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    /* --body-gradient: linear-gradient(to right, #2193b0, #6dd5ed);    */
    /*? Fallback */
    /* --body-gradient: linear-gradient(to right, #06beb6, #06bea1, #48b1bf); */
    /* --bg-overlay: rgba(255, 255, 255, 0.3); */
    /*?Icy one*/
    /* --body-gradient: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* ?Redish one */
    /* --body-gradient: linear-gradient(to right, #c04848, #480048); */

    --body-gradient: linear-gradient(to right, #dae2f8, #d6a4a4);
    --bg-overlay: rgba(255, 255, 255, 0.2);
}

@plugin "daisyui/theme" {
    name: "dark";
    --color-primary: hsl(114.81 100% 70%);
    --color-primary-content: hsl(0 0% 10%);
    --color-secondary: hsl(187.41 100% 70%);
    --color-secondary-content: hsl(0 0% 10%);
    --color-accent: hsl(64.44 100% 70%);
    --color-accent-content: hsl(0 0% 10%);
    --color-neutral: hsl(0 0% 90%);
    --color-base-100: hsl(0 0% 15%);
    --color-base-200: hsl(0 0% 10%);
    --color-base-300: hsl(0 0% 30%);
    --color-base-content: rgb(255, 255, 255);
    --color-info: hsl(187.41 100% 70%);
    --color-success: hsl(114.81 100% 70%);
    --color-warning: hsl(64.44 100% 70%);
    --color-error: hsl(347.53 100% 60%);
    --rounded-box: 0.5rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 0.5rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    /* ?Fallback */
    /* --body-gradient: linear-gradient(to right, #06beb6, #48b1bf);
    --bg-overlay: rgba(0, 0, 0, 0.7); */

    /* ?Redish */
    --body-gradient: linear-gradient(to right, #c04848, #480048);
    --bg-overlay: rgba(0, 0, 0, 0.5);
}

.pri-font {
    font-family: "IBM Plex Sans", sans-serif;
}

.sec-font {
    font-family: "IBM Plex Mono", monospace;
}

.contain {
    @apply w-11/12 mx-auto max-w-[1515px];
}

a.navlinks.active {
    @apply text-primary font-semibold;
}

a.navBtn.active {
    @apply bg-primary border-none text-black;
}

.transition {
    @apply transition-all duration-300;
}
